* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #eee;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 350px; /* Make sure the container is responsive */
}

#color-preview {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 200px;
  width: 200px;
  border: 2px solid #fff;
  border-radius: 200px;
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
}

#color-code, #rgba-code {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.5em;
}

.hidden {
  display: none;
}

/* Media Queries for smaller screens */
@media (max-width: 800px) {
  .container {
    padding: 15px;
  }

  #color-preview {
    height: 150px;
    width: 150px;
  }

  #color-code, #rgba-code {
    font-size: 1.2em;
  }

  /* Show the input color field on mobile */
  #color-picker {
    display: block;
    margin: 20px auto;
  }
}

/* Hide the input color field on desktop */
@media (min-width: 801px) {
  #color-picker {
    display: none;
  }
}
