* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #2c3e50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #34495e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 350px;
}

#color-preview {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 200px;
  width: 200px;
  border: 2px solid #fff;
  border-radius: 200px;
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
}

#color-code, #rgba-code {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.5em;
}

.hidden {
  display: none;
}
